.ui-layout-unit
{
	border: none !important;
	
}
.link
{
	font-weight:bold;
	font-family: "Calibiri";
}
.wrapdata
{
	margin-top: 50px;
	margin-left: 300px;
	margin-right:400px;
	width:450px;
	background: linear-gradient(#FFFFA6, white);
	border-radius: 10px;
	font-family: "Calibiri";
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 5px;
  padding: 2px 2px 2px 2px;
  text-decoration: none;
  margin-left: 10px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.hover
{
	font-weight:bold;
	font-family: "Calibiri";
	color: green;
	 font-size: 100%;
}
.row
{
	font-family: "Calibiri";
}

.table table thead tr
{
    display: none;
    border: none;
}
.dialog
{
	border: none !important;
	 border: none;
	 background-color: #B0B0B0;
}
.footer
{
	text-align: center;
	font-family: "Calibiri";
	background-color:#006699;
	color: #FFCC00;
	
}